<table summary="Comment form fields">
		<tr>
			<!-- <th>Post ID</th> -->
			<td><%= f.hidden_field(:post_id) %></td>
		</tr>
		<tr>
			<th>Body</th>
			<td><%= f.text_field(:body) %></td>
		</tr>
</table>