<% @page_title = "Comments" %>
<%= link_to("<< Back to List", {:action => 'index', :class => 'back-link'}) %>

<div class="comments delete">
	<h2>Delete Comment</h2>

	<%= form_for(:comment, :url => {:action => 'destroy', :id => @comment.id}) do |f| %>
		<p>Are you sure you want to permanently delete this comment?</p>
		<p class="reference-name"><%= @comment.body %></p>
		<div class="form-buttons">
			<%= submit_tag("Delete Comment") %>
		</div>
	<% end %>
</div>