<% @page_title = "Comments" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="comments edit">
	<h2>Update Comment</h2>

	<%= form_for(:comment, :url => {:action => 'update', :id => @comment.id}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Update Comment") %>
	</div>
	<% end %>
</div>