<% @page_title = "Comments" %>
<div class="comments index">
	<h2>Comments</h2>

	<%= link_to("Add New Comment", {:action => 'new'}, :class => 'action new') %>
	<table class="listing" summary="Comment list">
		<tr class="header">
			<th>Post ID</th>
			<th>Comment</th>
		</tr>
		<% @comments.each do |comment| %>
		<tr>
			<td><%= comment.post_id %></td>
			<td><%= comment.body %></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => comment.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => comment.id}, :class => 'action edit') %>
				<%= link_to("Delete",{:action => 'delete', :id => comment.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>