<% @page_title = "Comments" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="comments show">
	<h2>Show Comment</h2>
	<table summary="Comment detail view">
		<tr>
			<th>Post ID</th>
			<td><%= @comment.post_id %></td>
		</tr>
		<tr>
			<th>Body</th>
			<td><%= @comment.body %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @comment.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @comment.updated_at %></td>
		</tr>
	</table>
</div>