<% @page_title = "Posts" %>
<%= link_to("<< Back to List", {:action => 'index', :class => 'back-link'}) %>

<div class="posts delete">
	<h2>Delete Post</h2>

	<%= form_for(:post, :url => {:action => 'destroy', :id => @post.id}) do |f| %>
		<p>Are you sure you want to permanently delete this post?</p>
		<p class="reference-name"><%= @post.title %></p>
		<div class="form-buttons">
			<%= submit_tag("Delete Post") %>
		</div>
	<% end %>
</div>