<% @page_title = "Posts" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
<div class="posts edit">
	<h2>Update Post</h2>

	<%= form_for(:post, :url => {:action => 'update', :id => @post.id}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>

	<div class="form-buttons">
		<%= submit_tag("Update Post") %>
	</div>
	<% end %>
</div>