<% @page_title = "Posts" %>

<div class="posts index">
	<h2>Posts</h2>

	<%= link_to("Add New Post", {:action => 'new'}, :class => 'action new') %>

	<div><%= pluralize(@posts.size, 'post') %> found</div>
	<table class="listing" summary="Post list">
		<tr class="header">
			<th>Post ID</th>
			<th>Title</th>
			<th>Body</th>
		</tr>
		<% @posts.each do |post| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= post.id %></td>
			<td><%= post.title %></td>
			<td><%= post.body %></td>
			<td class="actions">
				<%= link_to("Show", {:action => 'show', :id => post.id}, :class => 'action show') %>
				<%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') %>
				<%= link_to("Delete",{:action => 'delete', :id => post.id}, :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>