<% @page_title = "Posts" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="posts show">
	<h2>Show Post</h2>
	<table summary="Post detail view">
		<tr>
			<th>Post ID</th>
			<td><%= @post.id %></td>
		</tr>
		<tr>
			<th>Title</th>
			<td><%= @post.title %></td>
		</tr>
		<tr>
			<th>Body</th>
			<td><%= @post.body %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @post.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @post.updated_at %></td>
		</tr>
	</table>

	<h2>Comments</h2>

	<table summary="Comment detail view">
	<% @comments.each do |comment| %>
		<tr>
			<td><b>Posted <%= if ((Time.zone.now.localtime - comment.updated_at.localtime)/3600).round > 0 then
								pluralize(((Time.zone.now.localtime - comment.updated_at.localtime)/3600).round, 'hour')
							else
								pluralize(((Time.zone.now.localtime - comment.updated_at.localtime)/60).round, 'minute')
							end	%> ago</td></b>
		</tr>
		<tr>
			<td><%= comment.body %></td>
			<td class="actions">
				<%= link_to("Edit", {:controller => 'comments', :action => 'edit', :id => comment.id}, :class => 'action edit') %>
				<%= link_to("Delete",{:controller => 'comments', :action => 'delete', :id => comment.id}, :class => 'action delete') %>
			</td>
		</tr>
		<tr></tr>
		<% end %>
	</table>
	<br />

	<% if !flash[:notice].blank? %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>

	<br />


	<table summary="New Comment">
		<tr>New Comment</tr>
		<tr>
			<td><%= form_for(:comment, :url => {:action => 'createComment'}, :postid => @post.id)do |f| %>
					<%= f.hidden_field :post_id, :value => @post.id %>
					<%= f.text_area :body, :required => true %><br /><br />

				<div class="form-buttons">
					<%= submit_tag("Add Comment") %>
				</div>
				<% end %>
			</td>
		</tr>
	</table>
</div>