<!DOCTYPE html>
<html>
	<head>
		<title>Blog | <%= @page_title || "Admin" %></title>
	</head>
	<body>
		<div id="header">
			<h1>Blog Admin</h1>
		</div>
		<div id="main">
			<% if !flash[:notice].blank? %>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
		<div id="footer">
			<p id="copyright">&copy; unm.edu </p>
		</div>
	</body>
</html>